<?xml version="1.0" encoding="UTF-8"?>

<!--This is an example xml filled with random events, feel free to copy and paste your own events over these ones from the template!-->
<events>
 <track type="1" name="Birth">
  <event>
    <title>Delia's Birthday</title>
    <date type="start">
      <year>2004</year>
      <era>AD</era>
    </date>
    <description>On October 26th, 2004, Delia Autumn Abramoski was born at Magee-Womens, UPMC Hamot.</description>
    <lat>42.134935</lat>
    <lon>-80.08585</lon>
  </event>
  </track>
 
 <track type="2" name="Childhood">
  <event>
    <title>Keeping Busy</title>
    <date type="start">
      <year>2010</year>
      <era>AD</era>
    </date>
    <date type="end">
      <year>2021</year>
      <era>AD</era>
    </date>
    <description>From ages 6-17, Delia is enrolled in gymnastics, tumbling, sideline and competition cheer. Lots of exercise, and lots of gold medals!</description>
    <lat>42.127953</lat>
    <lon>-80.082581</lon>
    <!-- Since this event includes multiple locations, I decided to add the general coordinates for Erie, PA. -->
  </event>
 </track>
 
  <track type="3" name="Teen Years-Present">
  <event>
    <title>First College Course</title>
    <date type="start">
      <year>2021</year>
      <month>06</month>
      <day>01</day>
      <era>AD</era>
    </date>
    <date type="end">
      <year>2021</year>
      <month>08</month>
      <day>15</day>
      <era>AD</era>
    </date>
    <description>During the summer before her senior year of highschool, Delia decided to enroll in something called the LEADS program at Penn State Behrend. She was able to get 3 college credits that summer, and continued to do dual enrollment throughout her senior year of Highschool.</description>
    <lat>42.120225</lat>
    <lon>-79.982727</lon>
  </event>
    
    <event>
      <title>Present Day</title>
      <date type="start">
        <year>2026</year>
        <month>10</month>
        <day>02</day>
        <era>AD</era>
      </date>
      <description>Delia just entered her senior year of college at Penn State Behrend. Although she switched her major a few times (ultimately making this her first senior year of 2), she's just happy that she found what she's passionate about.</description>
      <lat>42.120225</lat>
      <lon>-79.982727</lon>
    </event>
  </track>
   
 <track type="4" name="Future">
   <event>
     <title>Anticipated Graduation Date</title>
     <date type="start">
       <year>2028</year>
       <month>05</month>
       <day>12</day>
       <era>AD</era>
     </date>
     <description>Delia is anticipated to graduate from Penn State Behrend in Spring of 2028, majoring in Digital Media, Arts, and Technology, and minoring in Data Visualization.</description>
     <lat>42.128506</lat>
     <lon>-80.080807</lon>
   </event>
 </track>
</events>